@model Garage_2._0.Models.ParkingSpot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParkingSpot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Parent) Id</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.ParentId)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Parent) Name</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ParentName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit @Model.Id</a>
    <a asp-action="Index">Back to List</a>
</div>
